{% extends 'base.html' %}
{% block body %}
<div class="content">
    <h1 style="text-align: center">Notebooks</h1>
    {% if notebooks|length < 1 %}
    <h4 style="text-align: center">No Notebooks existing yet. Create one below:</h4>
    {% else %}
    <table class="center">
        {% for notebook in notebooks %}
        <tr>
            <td>{{ notebook.name }}</td>
            <td>
                <a href="/rename/{{notebook.id}}">Rename</a>
                <a href="/delete/{{notebook.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
    <div class="form">
        <form action="/create" method="POST" align="center">
            <input type="text" name="content" id="content">
            <input type="submit" value="Create Notebook">
        </form> 
    </div>
</div>    

{% endblock %}